{#- vim: set tabstop=2 shiftwidth=2 expandtab filetype=jinja2 : #}
{% set host_memory_gb = (lookup('vars', 'ansible_memory_mb').real.total / 1024) | round(0, method='ceil') | int %}
{% set host_es_memory_gb = (host_memory_gb / 2) | round(0, method='ceil') | int %}
