{#- vim: set tabstop=2 shiftwidth=2 expandtab filetype=jinja2 : #}
application-port={{ nexus_port | default(8081) }}
application-host={{ nexus_host | default('0.0.0.0') }}
nexus-args=${jetty.etc}/jetty.xml,${jetty.etc}/jetty-http.xml,${jetty.etc}/jetty-requestlog.xml
nexus-context-path=/

nexus.hazelcast.discovery.isEnabled=true
