{#- vim: set tabstop=2 shiftwidth=2 expandtab filetype=jinja2 : #}
[Unit]
Description=Sonatype Nexus service
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart={{ nexus_user_home }}/nexus/bin/nexus start
ExecStop={{ nexus_user_home }}/nexus/bin/nexus stop
User={{ nexus_user }}
Restart=on-abort

[Install]
WantedBy=multi-user.target
