{#- vim: set tabstop=2 shiftwidth=2 expandtab filetype=jinja2 : #}
-Xms{{ nexus_memory | default('2703m') }}
-Xmx{{ nexus_memory | default('2703m') }}
-XX:MaxDirectMemorySize={{ nexus_memory | default('2703m') }}
-XX:+UnlockDiagnosticVMOptions
-XX:+LogVMOutput
-XX:LogFile={{ nexus_user_home }}/sonatype-work/nexus/log/jvm.log
-XX:-OmitStackTraceInFastThrow
-Djava.net.preferIPv4Stack=true
-Dkaraf.home=.
-Dkaraf.base=.
-Dkaraf.etc=etc/karaf
-Djava.util.logging.config.file=etc/karaf/java.util.logging.properties
-Dkaraf.data={{ nexus_user_home }}/sonatype-work/nexus
-Dkaraf.log={{ nexus_user_home }}/sonatype-work/nexus/log
-Djava.io.tmpdir={{ nexus_user_home }}/sonatype-work/nexus/tmp
-Dkaraf.startLocalConsole=false
-Djava.endorsed.dirs=lib/endorsed
