{#- vim: set tabstop=2 shiftwidth=2 expandtab filetype=jinja2 : #}
//
// named.conf
//
// Provided by Red Hat bind package to configure the ISC BIND named(8) DNS
// server as a caching only nameserver (as a localhost DNS resolver only).
//
// See /usr/share/doc/bind*/sample/ for example named configuration files.
//
{% for acl_name, acl_entries in (play_bind.acl | default({})).items() %}

acl {{ acl_name }} {
{%  for _acl_entry in acl_entries %}
  {{ _acl_entry }};
{%  endfor %}
};
{% endfor %}

options {
  listen-on {
{%  if play_bind.listen_addresses is defined %}
{# We only allow addresses here #}
    127.0.0.1;
{%  for address in (play_bind.listen_addresses | ansible.netcommon.ipv4) %}
    {{ address | ansible.netcommon.ipaddr('address') }}/{{ address | ansible.netcommon.ipaddr('prefix') | default(32) }};
{%  endfor %}
{% else %}
    any;
{% endif %}
  };
// We won't listen IPv6 addresses
  listen-on-v6 port 53 { none; };

  directory   "/var/named";
  dump-file   "/var/named/data/cache_dump.db";
  statistics-file "/var/named/data/named_stats.txt";
  memstatistics-file "/var/named/data/named_mem_stats.txt";
  secroots-file  "/var/named/data/named.secroots";
  recursing-file  "/var/named/data/named.recursing";

  allow-query {
{%  if play_bind.primary | default(False) %}
    localhost;
{%  else %}
{%    for _allowed_source in play_bind.allowed_query_sources | default(['any']) %}
    {{ _allowed_source }};
{%    endfor %}
{%  endif %}
  };

{%  if not play_bind.primary | default(False) %}
  allow-recursion {
{%    for _allowed_source in play_bind.allowed_query_sources | default([]) %}
    {{ _allowed_source }};
{%    endfor %}
  };
{%  endif %}

{%  if play_bind.primary | default(False) %}
  allow-transfer  {
{%  for host in play_secondary_hosts %}
    {{ host }};
{%  endfor %}
  };
{% endif %}

  /* 
   - If you are building an AUTHORITATIVE DNS server, do NOT enable recursion.
   - If you are building a RECURSIVE (caching) DNS server, you need to enable 
     recursion. 
   - If your recursive DNS server has a public IP address, you MUST enable access 
     control to limit queries to your legitimate users. Failing to do so will
     cause your server to become part of large scale DNS amplification 
     attacks. Implementing BCP38 within your network would greatly
     reduce such attack surface 
  */
{%  if play_bind.primary | default(False) %}
  recursion no;
{%  elif play_bind.forwarders | default([]) | length > 0 %}
  recursion yes;
  forwarders {
{%    for forwarder in play_bind.forwarders | default([]) %}
    {{ forwarder }};
{%    endfor %}
  };
{%  else %}
  recursion no;
{%  endif %}

{% if play_bind.max_cache_ttl_seconds is defined %}
  max-cache-ttl {{ play_bind.max_cache_ttl_seconds }};
{% endif %}

{%  if play_bind.dnssec_validation | default(True) %}
  dnssec-validation yes;
{% else %}
  dnssec-validation no;
{% endif %}

  managed-keys-directory "/var/named/dynamic";
  geoip-directory "/usr/share/GeoIP";

  pid-file "/run/named/named.pid";
  session-keyfile "/run/named/session.key";

  /* https://fedoraproject.org/wiki/Changes/CryptoPolicy */
  include "/etc/crypto-policies/back-ends/bind.config";

  version none;
};

logging {
  channel default_debug {
    file "data/named.run";
    severity dynamic;
  };
};

zone "." IN {
  type hint;
  file "named.ca";
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";

include "{{ bind_config_dir }}/zones.conf";

