{#- vim: set tabstop=2 shiftwidth=2 expandtab filetype=jinja2 : #}
{% for acl_name, acl_entries in (play_bind.acl | default({})).items() %}

acl {{ acl_name }} {
{%  for acl_entry in acl_entries %}
  {{ acl_entry }};
{%  endfor %}
};
{% endfor %}

